body{
background-color: #ffd615 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
h3{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
    letter-spacing: 1px;
}

.inputSection{
  margin: 50px 0px 150px 0px;
  width: 400px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

input{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.addOption{
  margin-top: 30px
}

button{
font-family: 'Raleway', sans-serif;
font-weight: bold;
background-color: #ff1f5a;
color: white;
font-style: bold;
border: 4px solid #ff1f5a;
border-radius: 15px;
width:200px;
padding: 15px 15px 15px 15px;
text-align: center;
font-size: 15px
}

.image{
  padding: 20px 15px 15px 15px;
}
